
@import url(http://fonts.googleapis.com/css?family=Dosis:600);

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 14px;
}
header {
    display: block;
    min-height:60px;
    margin: 0;
    padding: 0;
    background-color: #333;
    color:#FEFEFE;
}
header h1 {
    position: absolute;
    top: .2em;
    left: 1em;
    margin:0;
    padding:0;
    font-family: 'Dosis', sans-serif;
    text-shadow: 0 1px 2px #ccc;
}
aside {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 22% ;
    background-color: #e0e0e0;
    background: -webkit-gradient(linear, left top, right top, from(#BFBFBF), to(#E0E0E0));
    background: -webkit-linear-gradient(left, #BFBFBF, #E0E0E0);
    background: -moz-linear-gradient(left, #BFBFBF, #E0E0E0);
    background: -ms-linear-gradient(left, #BFBFBF, #E0E0E0);
    margin: 0;
    padding: 0 .5em 1em 0;
    border-bottom-right-radius: 6px;
}

aside h2{
    position: relative;
    font-size: 1.2em;
    font-weight: bold;
    right:0;
    padding: 2px 16px 2px 5px;
    margin: 5px -16px 5px 5px;
    color: #fff;
    background-color: #F07600;
    background: -webkit-gradient(linear, left top, right top, from(#B24926), to(#F07600));
    background: -webkit-linear-gradient(left, #B24926, #F07600);
    background: -moz-linear-gradient(left, #F07600, #eb761d);
    background: -ms-linear-gradient(left, #B24926, #F07600);
    text-shadow: 0 1px 2px #ddd;
    -webkit-box-shadow: 0 2px 4px #616161;
    -moz-box-shadow: 0 2px 4px #616161;
    box-shadow: 0 2px 4px #616161;
    border-bottom-left-radius:3px;
    border-top-left-radius:3px;
}
aside h2:after{
    content: ' ';
    position: absolute;
	width: 0;
	height: 0;
	right: 0;
	top: 100%;
	border-width: 3px 5px;
	border-style: solid;
	border-color:  #666 transparent transparent  #666 ;
}

aside .ui-icon {
    display: inline-block;
    border: solid 1px #999;
    border-radius:3px;
    vertical-align:bottom;
    margin:1px;
}

aside ul {
    list-style-type:none;
    padding:0;
    margin:0;
}
aside ul li {
    padding:.1em .1em .5em .5em;
    margin:.5em;
    border-bottom:solid 1px #999;
}

aside ul li:last-child{
    border-bottom-width:0;
}

aside a {
    color:#000;
    text-decoration:none;
    font-weight:bold;
}

aside a img {
    margin-right:.3em;    
    vertical-align:bottom;
}

aside a:hover {
    color:#F07600;
}
aside a:hover {
    color:#F07600;
}
aside p {
    margin-left:.2em;
}


section {
    vertical-align: top;
    display: inline-block;
    width: 70% ;
    padding:1em;
}

article {
    border-top: solid 1px #B24926;
    margin:1em 0;
}

article > h2 {
    font-size:1.2em;
}
article > h2 > a{
    font-weight: normal;
    color:#B24926;
}

.result-container {
    border: solid 1px #eee;
    width: 250px;
}

article pre{
    display:none;
}
